<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>username</th>
      <th>user_logined</th>
      <th>date</th>
      <th>time</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>mahato@gmail.com</td>
      <td>3</td>
      <td>2022-05-26</td>
      <td>18:29:47</td>
    </tr>
    <tr>
      <th>1</th>
      <td>kedyi@gmail.com</td>
      <td>3</td>
      <td>2022-05-26</td>
      <td>18:30:46</td>
    </tr>
  </tbody>
</table>